/* *************
BANNER DEFAULTS
**************** */
#ad
  position absolute
  display block
  top 0
  left 0
  overflow hidden
  cursor pointer
  user-select none
  border banner_border
  width banner_width
  height banner_height
  z-index 1000

#banner
  position absolute
  display block
  top 0
  left 0
  width banner_width
  height banner_height
  background-color banner_bg
  overflow hidden
