/* *************
RESETS
**************** */
*
  box-sizing border-box

body
  border 0
  outline 0
  padding 0
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-shadow 0 0 1px rgba(0,0,0,0.3)

button
  outline none

.guide--h
  position absolute
  width 100%
  border-top 1px solid cyan
  top 110px
  z-index 1000
.guide--v
  position absolute
  height 100%
  border-left 1px solid cyan
  left 870px
  z-index 1000
