/* *************
RESETS
**************** */
*
  box-sizing border-box

body
  border 0
  outline 0
  padding 0
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-shadow 0 0 1px rgba(0,0,0,0.3)

button
  outline none

#animationControls
  position relative
  top banner_height
  width banner_width
  height 30px
  background white
  z-index 10000
  text-align center
  button
    position relative
    border none
    width 55px
    height 30px
    background-color white

.guide--h
  position absolute
  width 100%
  border-top 1px solid cyan
  top 110px
  z-index 1000
  display none

.guide--v
  position absolute
  height 100%
  border-left 1px solid cyan
  left 730px
  z-index 1000
  display none
