{% extends "layout.nunjucks" %}
{% block config %}
  <title>VHA0369_DIGITAL_ROAMING_NZ</title>
  <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
  <script src="js/main.js" type="text/javascript"></script>
  <script src="{{dcStudio.enabler}}"></script>
  <script src="{{dcStudio.script}}"></script>
  <script src="//www.gstatic.com/external_hosted/polymer/custom.elements.min.js"></script>
  <script src="//www.gstatic.com/ads/ci/ytclosebutton/1/ytclosebutton_min.js"></script>
{% endblock %}

{% block controls %}
  <div id="animationControls"></div>
{% endblock %}

{% block banner %}
<ci-ytclosebutton lang="en" theme="white" shadow="true" id="ytClose_dc"></ci-ytclosebutton>
<div id="animation">
  <span class="guide--h"></span>

  <div id="expanded"></div>
  <div class="collapsed" id="collapsed">
    <div class="objects">
      <img src="img/mymix/coffee.png" class="coffee">
      <img src="img/mymix/headphones.png" class="headphones">
      <img src="img/mymix/ticket.png" class="ticket">
      <img src="img/mymix/camera.png" class="camera">
      <img src="img/mymix/bluetooth.png" class="bluetooth">
      <img src="img/mymix/coins.png" class="coins">
      <img src="img/mymix/passport.png" class="passport">
      <img src="img/mymix/postcard.png" class="postcard">
      <img src="img/mymix/popcorn.png" class="popcorn">
      <img src="img/mymix/chopsticks_single.png" class="chopsticks_single--1">
      <img src="img/mymix/chopsticks_single.png" class="chopsticks_single--2">
      <img src="img/mymix/spoon.png" class="spoon">
      <img src="img/mymix/popcorn.png" class="popcorn">
      <img src="img/mymix/headphones.png" class="headphones">
    </div>

    <div class="rhombus"></div>

    <div class="objects">
      <img class="f1 f1_c1" src="img/collapsed/mm_pick.png">
      <img class="f2 f2_c1" src="img/collapsed/mm_works.png">
      <img class="f3 f3_c1" src="img/collapsed/mm_choose.png">
      <img class="f4" src="img/mymix/mm_personal.png">
      <img class="f4 vf_cta" src="./img/mymix/mm_cta.png">
      <div class="pulses">
        <div class="pulse data camera"></div>
        <div class="pulse data headphones"></div>
        <div class="pulse data popcorn"></div>

        <div class="pulse international coins"></div>
        <div class="pulse international chopsticks"></div>
        <div class="pulse international passport"></div>
        <div class="pulse international postcard"></div>
        <div class="pulse international boardingpass"></div>
        <div class="pulse calls"></div>
      </div>
    </div>
  </div>

  <img class="vf_logo" src="./img/vf_logo.png">
  <img src="img/background.jpg">


</div>


{% endblock %}
