/* *************
BANNER VARIABLES
**************** */
banner_width = 970px
banner_height = 250px
banner_border = rgb(0, 0, 0) 1px solid
banner_bg = white
vfred = #E30613

/* *************
CUSTOM STYLES
**************** */

.f1, .f2, .f3, .f4, .f5, .f6, .vf_logo
  position absolute

@import 'utilities/utilities'
@import 'utilities/banner_defaults'
@import 'components/objects'

.copy
  & img
    position absolute
    opacity 0
    z-index 10
    top 50%
    transform translate(0, -50%)
.will-zoom
  position absolute
  width 100%
  height 100%
  & > .mask
    position absolute
    width 100%
    height 100%
    background vfred
    mix-blend-mode multiply
    opacity 0
    z-index 10
.feature-collapsed, .feature-expanded
  & > .rhombus
    position absolute
    opacity 0
    width 900px
    height 1805px
    left -739px
    top 180px
    border-radius 26px
    transform-origin 874px 26px
    background-color vfred
    mix-blend-mode multiply
    z-index 12
  & > .vf_logo
    top 183px
    left 116px
    z-index 20

.feature-collapsed
  background url('../img/background.jpg')
  & .vf_logo
    opacity 0
  & .f1_c1
    left 50%
    transform translate(-50%, -50%)
  & .f2_c1
    left 146px
  & .f3_c1
    left 250px
  // FRAME 4
  & .mm_personal
    left 190px
  & .mm_cta
    left 455px
  & .pulses
    opacity 0
    pointer-events none
    & div[class^='pulse-container']
      position absolute
    & .plus
      position relative
      left -3px
      top -10px
      z-index 20
    & .pulse
      color white
      width 1px
      height 1px
      border-radius 50%
      background rgba(0,0,0,0)
      position absolute
      box-shadow 0px 0px 0px 0px rgba(227, 6, 19, 1)
      z-index 110
.pulse-container__headphones
  top 50px
  left 340px
.pulse-container__camera
  top 215px
  left 235px
.pulse-container__calls
  top 120px
  right 70px
.pulse-container__coins
  top 25px
  left 160px
.pulse-container__chopsticks
  left 535px
  bottom 14px
.pulse-container__passport
  top 30px
  left 580px
.pulse-container__postcard
  top 200px
  right 70px
.pulse-container__ticket
  top 75px
  left 760px


.vf_tagline
  position absolute
  left 10px
  top 188px
  opacity 0
  z-index 15
  & :nth-of-type(2)
    opacity 0
  & img
    position absolute

.vf_tcs,
.vf_tcs_white
  position absolute
  bottom 5px
  right 2px
  opacity 0
  z-index 13

.vf_tcs_bg
  position absolute
  right 0px
  bottom 0px
  height 25px
  width 135px
  padding 2px 2px 15px 2px
  background black
  opacity 0
  z-index 12

.feature-expanded
  background url('../img/background.jpg')
  overflow hidden
  & > .mask
    position absolute
    width 100%
    height 100%
    background vfred
    mix-blend-mode multiply
    opacity 0
    z-index 10
  & .mm_data_f1_c1, .mm_calls_f1_c1, .mm_int_f1_c1
    position absolute
    top 252px
  & .mm_data_f1_c1
    left 265px
  & .mm_calls_f1_c1
    left 195px
  & .mm_int_f1_c1
    left 285px
  & .mm_f2_c1
    position absolute
    top 252px
    left 300px
  & .mm_f3_c1
    position absolute
    top 231px
    left 300px
    opacity 0
    transform translate(0%, 0%)
  // FRAME 4
  & .mm_personal
    position absolute
    top 160px
    left 280px
    transform translate(0, 0)
  & .mm_cta
    position absolute
    top 280px
    left 300px
    transform translate(0, 0)
