/* *************
BANNER VARIABLES
**************** */
banner_width = 970px
banner_height = 250px
banner_border = rgb(0, 0, 0) 1px solid
banner_bg = white

/* *************
CUSTOM STYLES
**************** */
@import 'utilities/utilities'
@import 'utilities/banner_defaults'


/* *************
TESTING
**************** */

#animationControls
  position relative
  top banner_height
  width banner_width
  height 30px
  background white
  z-index 10000
  text-align center
  button
    position relative
    border none
    width 55px
    height 30px
    background-color white

/* *************
CUSTOM STYLES
**************** */
guide_top = 20px
guide_left = 713px
// .guide
//   position absolute
//   width 100%
//   border-top 1px solid cyan
//   top 125px
//   z-index 1000
// .guide
//   position absolute
//   height 100%
//   border-left 1px solid cyan
//   left 613px
//   z-index 1000
//   display none
.rhombus
  position absolute
  width 900px
  height 805px
  z-index 9
  transform rotate(-45deg)
  opacity 0
  background-color #E30613

// #ad img
//   position absolute

.f1, .f2, .f3, .f4, .f5, .f6
  opacity 0
.f1, .f2, .f3, .f4, .f5, .f6, .vf_logo
  position absolute

//  FRAME 01
.vf_logo
  opacity 0
  top 50%
  left 610px
  transform translate(0, -50%)
  z-index 20

.f1_c1
  z-index 10
  left guide_left
  top 50%
  transform translate(0, -50%)

//  FRAME 02
.f2_c1
  z-index 10
  left guide_left
  top 50%
  transform translate(0, -50%)
//  FRAME 03

.f3_c1
  z-index 10
  left guide_left
  top 50%
  transform translate(0, -50%)

//  FRAME 04
.f4_c1
  z-index 10
  left guide_left
  top 50%
  transform translate(0, -50%)

//  FRAME 05
.vf_tagline
  z-index 10
  left 710px
  top 161px
  opacity 0

.vf_cta
  left 710px
  top 50%
  transform translate(0, -50%)
  opacity 0
  z-index 10

 .gs7_logo
   left 30px
   top 47px
   z-index 10

 .gs7_bg
   left 53px
   z-index 1

#ytClose_dc
  z-index 999
  position absolute !important
  top 7px !important
  right 7px !important
