div[class^='phone']
  position absolute
  z-index 11
  & > .mask
    position absolute
    top 46px
    left 10px
    height 290px
    width 163px
    overflow hidden
    background-color black
    z-index 11
.phone-collapsed
  top 300px
  left 730px
  transform scale(0.68) rotate(5deg)
  z-index 10
  & .placeholder
    opacity 1
.phone-collapsed,
.phone-expanded
  & .vf_logo
    top 40px
    left 60px
    transform scale(0.65)
    z-index 11
  & .mm_print
    opacity 0
    top 48px
    left 67px
    transform scale(1)
    z-index 12
  & img[class^='mm_results'], .mm_placeholder
    position absolute
    left 0
    opacity 0
    z-index 15
  & .rhombus
    position absolute
    top 47px
    left 70px
    width (900/2)px
    height (805/2)px
    border-radius 26px
    transform rotate(-45deg)
    background-color vfred
    transform-origin 11px 11px
    z-index 10
.phone-expanded
  top 70px
  left 715px
